/* break points 
    0 - 600px    Mobile styles 
    601px - 900px Tablet
    >900px  Desktop and laptops 
*/


:root {
    --primary: #0D6EFD;
    --primary-dark: #005FBA;
    --primary-light: #E6F7FF;
    --secondary-background: #031F42;
    --yellow: #FFC221;
    --gray: #696969;
    --light-gray: #F1F6FF;
    --footer: #F4F4F4;
    --footer-text: #818A9C;
    --divider-color: #98A8BF;
    --green: #3ecf8e;
}

* {
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
}

.d-block {
    display: block;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    margin: 0;
    width: 100vw;
    overflow-x: hidden;
    padding: 0;
    color: var(--gray);
}

section {
    padding: 4rem 0;
}

.section-header {
    margin-bottom: 50px;
    position: relative;
    color: var(--secondary-background);
}

.section-header .section-title span {
    display: block;
    font-size: 50%;

}

.section-header .section-title {
    text-transform: uppercase;
    border-left: 4px solid var(--primary);
    font-size: 35px;
    padding: 1rem;
    font-weight: 600;
    line-height: 30px
}

.section-header .desc-text p {
    font-size: 18px;
    color: #5e629c;
    line-height: 26px;
    margin-bottom: 0
}

/* HERO */
.logo-menu a {
    font-size: 20px;
    color: #fff
}

.menu-bg {
    background: var(--primary);
    background: linear-gradient(95deg, var(--primary) 40%, var(--yellow) 100%) !important;
    box-shadow: 0 0 7px 1px rgba(0, 0, 0, .1);
    z-index: 9999;
    padding: 5px;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out
}

.menu-bg .menu-button {
    top: 0
}

.menu-bg .menu-button:hover {
    cursor: pointer;
    color: #3c9cfd
}

.menu-bg .logo-menu a {
    color: #3c9cfd
}

.menu-bg .navbar-nav .nav-link {
    color: #fff !important
}

.menu-bg .navbar-nav .nav-link:hover {
    color: #fff !important
}

.menu-bg .navbar-nav .active {
    color: #fff !important
}




.hero-area {
    position: relative;
    min-height: 100vh;
}

.hero-area .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: var(--primary);
    background: linear-gradient(95deg, var(--primary) 40%, var(--yellow) 100%);
    z-index: -12;

}

.hero-area .overlay span {
    display: block;

}

.hero-area .overlay :nth-child(1) {
    position: absolute;
    min-width: 200px;
    min-height: 200px;
    height: 20vw;
    width: 20vw;
    border-radius: 50%;
    right: auto;
    background: var(--yellow);
    transform: translate(-50%, -50%);
}

.hero-area .overlay :nth-child(2) {
    width: calc(100%/3);
    bottom: 0;
    background: var(--primary);
    background: linear-gradient(95deg, var(--primary) 40%, var(--yellow) 100%);
    position: absolute;
    height: 155px;
    left: 3%
}



.hero-area .items {
    min-height: 100vh;
    align-items: center;
    padding-top: 5rem;
    padding-bottom: 2rem;
    justify-content: center;
}

.hero-area .contents h2 {
    color: #fff;
    font-size: 38px;
    font-weight: 600;
    margin-bottom: 20px
}



@media (max-width: 991.98px) {
    .hero-area .contents {
        padding-top: 5rem !important;
        padding-bottom: 3rem;
    }

    .header-button {
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 575.98px) {
    .hero-area img {
        height: auto;
        width: 100%;
        max-width: 100%;
    }

    .hero-area .contents h2 {
        font-size: 28px;
    }

    .section-header .section-title {
        font-size: 28px;
    }
}

.hero-area .contents p {
    color: #fff;
    font-size: 18px;
    line-height: 26px
}

.hero-area .contents .btn {
    margin-top: 1rem;
    margin-right: 20px;
    text-transform: uppercase;
    width: 180px;
    height: 50px;
    padding: 15px
}

.hero-area .contents .btn-border {
    border: 1px solid #fff;
    color: var(--green) !important;
    -webkit-box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
    box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
    width: 180px;
    height: 50px;
    padding: 15px;
    background: #fff
}

.hero-area .contents .btn-border:hover {
    background: #fff;
    color: var(--green)
}



.hero-area img {
    display: block;
    height: auto;
    padding: 0 1rem;
    max-height: 100%;
    width: auto;
    max-width: 100%;
    margin: auto;
    margin-right: auto;
}



.btn {
    font-size: 14px;
    padding: 10px 30px;
    border-radius: 4px;
    font-family: rubik, sans-serif;
    letter-spacing: 1px;
    font-weight: 500;
    color: #fff;
    border: none;
    text-transform: uppercase;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    display: inline-block
}

.btn:focus,
.btn:active {
    box-shadow: none;
    outline: none
}

.btn-common {
    background-color: var(--green);
    position: relative;
    z-index: 1;
    box-shadow: 0 8px 9px 0 rgba(96, 94, 94, .17);
    width: 160px;
    height: 50px;
    padding: 14px 15px
}



.btn-border-filled {
    cursor: pointer;
    background-color: var(--green);
    border: 1px solid var(--green);
    color: #fff;
    box-shadow: 0 8px 9px 0 rgba(96, 94, 94, .17);
    width: 180px;
    height: 50px;
    padding: 15px
}

.btn-border-filled:hover {
    color: #fff;
    background-color: transparent;
    border-color: #fff;
    transform: translateY(-2px)
}


#courses .course-item {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    transition: all .8s ease;
    cursor: pointer;
}



#courses .course-item:hover {
    transform: scale(1.01);
}

#courses .course-item .course-details {
    padding: 45px 0 30px;
    position: relative
}

#courses .course-item img {
    width: 100%;
    height: auto;
}

#courses .course-item .course-details h5.course-title {
    font-size: 16px;
    font-weight: 600;
    display: block;
    margin-bottom: 0
}

#about {
    background-color: var(--secondary-background);
    color: #fff;
}

#about .section-header .section-title {
    color: #fff;
}

#about .section-header .desc-text p {
    color: #fff;
}

.timeline {
    position: relative;
    padding: 20px 0;
}


.timeline-item {
    display: flex;
    align-items: start;
    margin-bottom: 30px;
}

.timeline-item:last-child {
    margin-bottom: 0;
}


.timeline-number {
    width: 40px;
    height: 40px;
    min-width: 40px;
    min-height: 40px;
    border-radius: 50%;
    background: var(--primary);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    margin-right: 20px;
    position: relative;
}

#about .avatar {
    width: 32px;
    height: 32px;
    min-width: 32px;
    min-height: 32px;
    border-radius: 50%;
    background: var(--primary-light);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0 .5rem;
}

#about .tag small {
    font-size: 14px;
}

.timeline-content h4 {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
}

.timeline-content .btn-link {
    display: inline-block;
    margin-top: 10px;
    font-size: 16px;
    color: var(--primary);
    text-decoration: none;
    font-weight: 600;
    padding: 8px 16px;
    border: 2px solid var(--primary);
    border-radius: 4px;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.timeline-content .btn-link:hover {
    background-color: var(--primary);
    color: #fff;
    border-color: var(--primary);
}




#contact form#contactForm .form-group {
    margin-bottom: 30px
}

#contact form#contactForm input[type=text],
#contact form#contactForm input[type=email] {
    min-height: 52px;
    padding: 0 0 0 28px;
    font-size: 16px;
    color: #5e629c
}

#contact form#contactForm textarea {
    padding: 15px 0 0 28px;
    font-size: 16px;
    color: #5e629c
}

#contact form#contactForm .form-control:focus {
    border: 1px solid var(--primary);
    outline: none;
    box-shadow: none;
    background: var(--primary-light)
}

.contacts-icon {
    width: 24px;
}

#contact form button {
    background-color: var(--primary);
    color: #fff;
}

.footer {
    background: var(--footer);
    padding: 1rem !important;

}

#footer .logo {
    margin-bottom: 1rem;
}

.footer-description {
    text-align: center;
    color: var(--footer-text);
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}

.footer-divider {
    width: 100%;
    border-top: 1px solid var(--divider-color);
}

.footer-social {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.social-icon {
    padding: 12px;
    background: var(--light-gray);
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-icon img {
    width: 32px;
    height: 32px;

}